/* 作品集頁面 */

.container {
  display: flex;
  gap: 40px 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 80px 12px;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}
.content {
  padding: 16px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  color: #3b3b3b;
}
.text {
  color: #919191;
  margin-top: 8px;
  margin-bottom: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  border-radius: 16px;
  background: #f1f1f1;
  padding: 4px 12px;
  color: #3b3b3b;
}

.item {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: auto;
  gap: 16px;
}

.item li {
  width: 35px;
  text-align: center;
}

.bookMark {
  border: 1px solid;
  border-radius: 4px;
  background: #000;
  color: rgba(255, 255, 255, 1);
  width: 35px;
}

/* @media screen and (min-width: 768px) 表示當螢幕寬度大於 768px 時應用下面的樣式 */
@media screen and (min-width: 768px) {
  .container {
    gap: 60px 24px;
  }

  .card {
    width: 48.1%;
  }

  .title {
    font-size: 28px;
  }

  .text {
    margin-bottom: 24px;
  }

  .tags {
    gap: 16px;
  }
} 

/* header */
.navbar{
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  max-width: 1296px;
  margin:0 auto;
  position: fixed;
  opacity: 0.95;
  background-color: #ffffff;
}
.header-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  padding: 7px;
  margin-right: 16.25%;
}

.logo a img{
  max-width:100%;
}
.nav-bar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-item a{
  color: black;
  text-decoration: none;
} 
.header-item{
  position: relative;
}

.border {
  position: absolute;
  width: 10px;
  height: 10px;
}

.vector1 {
  top: -5px;
  right: -5px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 0;
  border-left: 0;
}

.vector2 {
  bottom: -5px;
  left: -5px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-top: 0;
  border-right: 0;
}

.vector3 {
  top: -5px;
  left: -5px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 0;
  border-right: 0;
}

.vector4 {
  bottom: -5px;
  right: -5px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 0;
  border-left: 0;
}

.header-item:hover .vector1 {
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-item:hover .vector2 {
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-item:hover .vector3 {
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-item:hover .vector4 {
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.navbar-btn {
  display: none;
}

.close{
  display: none;
}

@media(max-width: 768px) {
  .header-content{
    padding: 8px 0px;
    height: 64px;
    justify-content:space-between; 
    position: relative;
  }
  .nav-bar-list {
    position:absolute;
    top: 64px;
    left:0;
    width: 100%;
    opacity: 1;
    background-color: #ffffff;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .navbar-btn {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    span {
      font-size: 40px;
    }
  }
  
}

/* banner */
.banner{
  padding: 80px 0px;
  font-family: "Noto Sans TC", sans-serif;
}
.banner h1{
  text-align: center;
  font-size: 24px;
  color: #1E1E1E;
  line-height: 1.5;
  font-weight: 400;
  gap: 16px;
  position: relative;
}

.banner-top h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: red;
  /* background-image: url("./images/banner/banner-top.png"); */
  left: 15%;
}

/* footer */
.bg {
  background: url("./images/footer/footer-sm.png") no-repeat center center;
  background-size: cover;
}
.footer-info{
  gap: 24px;
}
.footer-info a{
  padding: 8px 24px;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.footer-info a:hover{
  background-color: #000;
  color: #FFFFFF;
  font-weight: 700;
}

@media screen and (min-width: 512px) {
  .bg {
    background: url("./images/footer/footer-lg.png") no-repeat center center;
    background-size: cover;
  }
}
